.App {
  text-align: center;
}
.sign-in{
  background: linear-gradient(-45deg, #4ca1af, #c4e0e5);
  width: 40%;
  padding: 40px;
  margin: auto;
  margin-top: 170px;
}

.sign-in .loginButton
{
  width: 180px;
  background: linear-gradient(#42275a , #734b6d) ;
  color: red;
} 

.sign-in .loginButton .link{
  color: whitesmoke;
  text-decoration: none;
}